<!-- contact.html -->
<div class="jumbotron text-center">
    <h1>Contact Page</h1>
    

    <table>

        <tr ng-repeat="hotel in hotels">
            <td>
                <table style="width:100%">
                    <tr>
                        <td colspan="4" style="color:#1e90ff;font-size:large;font-weight:bold">
                            <a target="_blank" href="http://lowestroomrates.com/avails/ww{{ hotel.hotelid }}">{{ hotel.name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="{{ hotel.thumbnailurl }}" /></td>
                        <td>{{ hotel.address1 }}</td>
                        <td>{{ hotel.city }}</td>
                        <td>{{ hotel.lowrate }}</td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#" ng-click="hotelDetails(hotel.hotelid)">See details {{ hotel.hotelid }}</a>


                        </td>

                    </tr>
                    <tr>
                        <td>
                            <a href="#">See details {{ hotel.hotelid }}</a>


                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div ng-view>
                                {{hotelDetailsData.HotelSummary.name}}
                                {{hotelDetailsData.HotelDetails.propertyDescription}}

                            </div>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>