<html>
<head>
    <title>Angular JS Includes</title>

    <style>
        table, th, td {
           
            border-collapse: collapse;
            padding: 5px;
        }

            table tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="myApp" ng-controller="hotelController">
        <div>
            <input type="text" id="city" name="city" value="noloc" />
            <button ng-click="search('noloc')">Search</button>
        </div>
        <table>

            <tr ng-repeat="hotel in hotels">
                <td>
                    <table style="width:100%">
                        <tr>
                            <td colspan="4" style="color:#1e90ff;font-size:large;font-weight:bold">
                            <a target="_blank" href="http://lowestroomrates.com/avails/ww{{ hotel.hotelid }}">{{ hotel.name }}</a>
                            </td>
                        </tr>
                         <tr>
                <td><img src="{{ hotel.thumbnailurl }}"/></td>
                <td>{{ hotel.address1 }}</td>
                <td>{{ hotel.city }}</td>
                <td>{{ hotel.lowrate }}</td>
                            </tr>
                        </table>
                </td>
            </tr>
        </table>

        <div id="main">

            <div ng-view></div>
        </div>
    </div>


    <script>

        var data = {
            hotelid: "123456"
        };

        var config = {
            params: data,
            headers: { 'Accept': 'application/json' }
        };

        var app = angular.module('myApp', []);
        app.controller("hotelController", function ($scope, $http) {
            var url = "data.txt"; 
            $scope.changeState = function (stateName) {
                $state.go(stateName);
            };
            $scope.search = function (city) {
                $http({
                    method: "GET",
                    url: "http://localhost:50795/hotels/" + city,
                    params: { page: 1, limit: 100, sort: 'name', direction: 'desc' }
                    , headers: { 'Accept': 'application/json; charset=utf-8' }
                    //headers : {'Accept' : 'application/json', 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ=='}
                }).then(function (response) {
                    var data = response.data,
                        status = response.status,
                        header = response.header,
                        config = response.config;
                    $scope.hotels = response.data;
                    // success handler
                }, function (response) {
                    var data = response.data,
                        status = response.status,
                        header = response.header,
                        config = response.config;
                    // error handler
                }

            );
            }
        });
        
    </script>

    

</body>
</html>